POSTGRES_DB=gameserver_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
API_BIND_ADDRESS=0.0.0.0
API_HOST_PORT=8080
POSTGRES_BIND_ADDRESS=127.0.0.1
POSTGRES_HOST_PORT=15432
PGADMIN_DEFAULT_EMAIL=admin@nunbora.local
PGADMIN_DEFAULT_PASSWORD=admin1234
PGADMIN_BIND_ADDRESS=127.0.0.1
PGADMIN_HOST_PORT=15050
