.container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: center;
    -unity-font-definition: url("project://database/Assets/_Project/ThirdParty/TextMesh%20Pro/Examples%20&%20Extras/Fonts/Anton.ttf?fileID=12800000&guid=997a43b767814dd0a7642ec9b78cba41&type=3#Anton");
    color: rgb(220, 220, 220);
}

.main-window {
    width: 1440px;
    height: 810px;
    background-color: transparent;
    border-width: 0;
    flex-direction: column;
    padding: 20px;
    background-image: url("project://database/Assets/_Project/Assets/04_UI/UI/popup.png?fileID=21300000&guid=d377e82806aac4a4088e123845017d41&type=3#popup");
}

.inventoryHeader {
    font-size: 36px;
    -unity-text-align: middle-center;
    margin-bottom: 20px;
    letter-spacing: 5px;
    color: white;
}

.split-container {
    flex-direction: row;
    flex-grow: 1;
}

.left-panel {
    border-right-width: 1px;
    border-right-color: rgb(50, 50, 50);
    padding-right: 20px;
    margin-right: 20px;
}

.right-panel {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.tabs-row {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.tab-button {
    background-color: rgb(25, 25, 25);
    color: rgb(150, 150, 150);
    border-color: rgb(80, 140, 80);
    border-width: 1px;
    padding: 8px 20px;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 16px;
}

.tab-button:hover {
    background-color: rgb(40, 40, 40);
    color: white;
}

.slots-scroll-view {
    flex-grow: 1;
}

.slotsContainer {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: transparent;
    padding: 10px;
    border-width: 0;
    flex-shrink: 0;
}

.slot {
    width: 100px;
    height: 100px;
    margin: 0;
    background-color: transparent;
    border-width: 0;
    background-image: url("project://database/Assets/_Project/Assets/04_UI/UI/inventory_square.png?fileID=21300000&guid=ce6485323fc06ef42bf85cc61e70e4a7&type=3#inventory_square");
    -unity-background-scale-mode: stretch-to-fill;
}

.slot:hover {
    border-color: rgb(200, 200, 200);
}

.itemsContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ghostIcon {
    visibility: hidden;
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: none;
    -unity-background-scale-mode: scale-to-fit;
}

.placeholder-text {
    font-size: 24px;
    color: rgb(100, 100, 100);
}
